body {
    margin: auto;
}
#header-section {
    text-align: center;

}
#paragraph-header{
    text-align: center;

}
#player-one {
    margin:auto;
    margin-left: 20px;
    border-style: solid;
    border-color: black;
    height: 200px;
    width: 200px;
    text-align: center;
}