#header-section {
    text-align: center;
    font-size: 50px;
    margin-top: 10px;

}
#paragraph-header{
    text-align: center;
}
#player-one {
    float: left;
    margin-left: 15px;
    padding-left: 15px;
    border-style: solid;
    border-color: black;
    height: 200px;
    width: 200px;
    text-align: center;
}
#player-two {
    float: right;
    border-style: solid;
    border-color: black;
    height: 200px;
    width: 200px;
    text-align: center;
}
#fight-grounds {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    border-style: solid;
    border-color: black;
    height: 200px;
    width: 200px;
    text-align: center;
}
.container {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 200px;
    width: 100%;
    background-color: aquamarine;
}
