body {
    margin: auto;
}
#header-section {
    text-align: center;
    font-size: 50px;
    margin-top: 10px;

}
#paragraph-header{
    text-align: center;

}
#player-one {
    float: left;
    margin-left: 100px;
    border-style: solid;
    border-color: black;
    height: 200px;
    width: 200px;
    text-align: center;
}
#fight-grounds {
    position: absolute;
    margin-left: 100px;
    border-style: solid;
    border-color: black;
    height: 200px;
    width: 200px;
    align-content: center;
}
#player-two {
    float: right;
    margin-left: 200px;
    border-style: solid;
    border-color: black;
    height: 200px;
    width: 200px;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
}
